Source: ros-indigo-arni-gui
Section: misc
Priority: extra
Maintainer: Matthias Hadlich <matthiashadlich@yahoo.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-arni-core, ros-indigo-arni-msgs, ros-indigo-catkin, ros-indigo-rosgraph-msgs, ros-indigo-rospy
Homepage: http://wiki.ros.org/arni
Standards-Version: 3.9.2

Package: ros-indigo-arni-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-arni-core, ros-indigo-arni-msgs, ros-indigo-rosgraph-msgs, ros-indigo-rospy
Description: Common functionality for the ARNI rqt_gui overview and detail plugins.
