Source: ros-indigo-arni-nodeinterface
Section: misc
Priority: extra
Maintainer: Matthias Hadlich <matthiashadlich@yahoo.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-arni-msgs, ros-indigo-catkin, ros-indigo-rosgraph-msgs, ros-indigo-rospy, ros-indigo-rostest
Homepage: http://wiki.ros.org/arni
Standards-Version: 3.9.2

Package: ros-indigo-arni-nodeinterface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-arni-msgs, ros-indigo-rosgraph-msgs, ros-indigo-rospy
Description: The ARNI host manager, which collects host/node statistics and enables the ARNI countermeasure node to run remote commands.
